@import "tailwindcss";
@layer base {
  body {
    font-family: "Playfair Display", serif;
  }
}

@layer utilities {
  @keyframes haloFade {
    0% {
      opacity: 0.6;
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(1.15);
    }
    100% {
      opacity: 0;
      transform: scale(1.35);
    }
  }

  .animate-haloFade {
    animation: haloFade 3s ease-out forwards;
  }
}
